<ion-view title="Home" hide-nav-bar="true" id="page1" style="background-color:#7AA1DA;" class=" ">
    <ion-content padding="true" style="background: url(img/elGdYV4aREBWKyvRt3ag_images.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <form id="home-form1" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="form.search" placeholder="Hymn name or number">
            </label>
        </form>
        <ion-list id="home-list4" class=" ">
            <ion-item ng-repeat="file in docs" ui-sref="hymn({id: file._id})" class="  ">{{file.hymn_number}}: {{file.title}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>