<ion-view title="Hymn" hide-nav-bar="true" id="page2" class=" ">
    <ion-content padding="true" style="background: url(img/Re7w8DxLSCOuHLRrbj2H_images.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div id="hymn-button-bar1" class=" button-bar "></div>
        <h1 id="hymn-heading1" style="color:#000000;font-weight:300;" class=" ">{{hymn.title}}</h1>
        <p style="white-space: pre; text-align: center;">{{hymn.lyrics}}</p>
        <a ui-sref="home" id="hymn-button5" class=" button button-dark  button-block ">Back</a>
    </ion-content>
</ion-view>